body{
	color:purple;
}
h1{
	font-family: 'Pangolin', cursive;
}
p{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	line-height: 20px;
	letter-spacing: 1px;
}
.spanStuff{
	font-family: 'Pangolin', cursive;
}